go 1.23.0

toolchain go1.24.4

use (
	azkustodata
	azkustoingest
	quickstart
)

replace (
	github.com/Azure/azure-kusto-go/azkustodata v1.1.0 => ./azkustodata
	github.com/Azure/azure-kusto-go/azkustoingest v1.1.0 => ./azkustoingest
	github.com/Azure/azure-kusto-go/quickstart v1.1.0 => ./quickstart
)
