name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go
      - name: Setup JUnit Report
        run: go get -u github.com/jstemmer/go-junit-report

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Check Format
        run: if [ "$(gofmt -d -s -l . | tee /dev/fd/2 | wc -l)" -gt 0 ]; then exit 1; fi

      - name: Get dependencies
        run: |
          cd kusto
          go get -v -t -d ./...

      - name: Build
        run: |
          cd kusto
          go build -v ./...

      - name: Test
        run: |
          cd kusto
          set -o pipefail
          go test -v -race -coverprofile=coverage.out -covermode=atomic ./... 2>&1 | tee >(go-junit-report > report.xml)
        env:
          ENGINE_CONNECTION_STRING: ${{ secrets.ENGINE_CONNECTION_STRING }}
          APP_ID: ${{ secrets.APP_ID }}
          APP_KEY: ${{ secrets.APP_KEY }}
          AUTH_ID: ${{ secrets.AUTH_ID }}
          TEST_DATABASE: ${{ secrets.TEST_DATABASE }}
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Unit Test Results
          path: |
            kusto/report.xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2

  event_file:
    name: "Event File"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Event File
          path: ${{ github.event_path }}
